# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
*.pyo
*.pyd
.pytest_cache/
venv/
*.egg

# Environment files
.env
.env.*

# Build
device/build/
.device/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Docker
docker-compose.override.yml

# Node modules
node_modules/

# Next.js build artifacts
.next/
out/

# Production environment files
.env.production
.env.local
